module.exports = {
  // Plex library directories
  tvShowsDir : "/path/to/existing/shows",
  moviesDir : "/path/to/existing/movies",

  // Size at which a file is assumed to be an episode
  minFileSize : "100MB",

  // Nodemailer config
  mail : {
    service : "GMail",
    auth : {
      user : "",
      pass : ""
    },
    to : "",
    from : ""
  }
};