module.exports = {
  // Plex library directories
  tvShowsDir : '/path/to/existing/shows',
  moviesDir : '/path/to/existing/movies',
  renameFiles : false,

  // pushover, email, or log
  notifyType : 'pushover',

  // Pushover config
  pushover : {
    appKey : 'user_key',
    userKeys : [ 'client_key' ]
  },

  // Nodemailer config
  mail : {
    service : 'GMail',
    auth : {
      user : '',
      pass : ''
    },
    to : '',
    from : ''
  },


  // showRSS feed with namespace enabled
  showRSS : ''
};