module.exports = {
  // Plex library directories
  tvShowsDir : '/path/to/existing/shows',
  moviesDir : '/path/to/existing/movies',

  // Size at which a file is assumed to of worth
  minFileSize : '100MB',
  validVideoExt : [ 'mkv', '3gp', 'avi', 'mp4', 'mpg',
                    'mp3', 'flv', 'mov', 'asf', 'asx',
                    'wmv', 'swf', 'ogg', 'rm', 'divx',
                    'mpeg' ],

  // Nodemailer config
  mail : {
    service : 'GMail',
    auth : {
      user : '',
      pass : ''
    },
    to : '',
    from : ''
  }
};