{{# torrent }}
{{ name }} completed at {{ time }}
{{/ torrent }}

File(s):

{{# files }}
- {{ filename }}
  {{# isShow }}
  * Show:      {{ show }}
  * Season:    {{ season }}
  * Episode:   {{ episode }}
  {{/ isShow }}
  * Moved to:  {{{ newLocation }}}
  {{# err }}
  * Error:
    - Message: {{ msg }}
    {{ error }}
  {{/ err }}

{{/ files }}


run time {{ runTime }}s