{{# torrent }}
{{ name }} completed at {{ time }}
{{/ torrent }}


File(s):


{{# largeFiles }}
{{ filename }}
  * Show:    {{ show }}
  * Season:  {{ season }}
  # Episode: {{ episode }}
  * Moved:   {{# moved }}{{{ newLocation }}}{{/ moved }}
  * Error:   {{ err }}

-

{{/ largeFiles }}