Completed download!

{{# files }}
  {{# isShow }}
  - {{ show }} {{# season }}S{{ . }}{{/ season}}{{# episode }}E{{ . }}{{/ episode }}
  {{/ isShow }}
  {{^ isShow }}
  - Movie: {{ filename }}
  {{/ isShow }}
  {{# err }}
  * Error:
    - Message: {{ msg }}
    {{ error }}
  {{/ err }}

{{/ files }}


run time {{ runTime }}s